.search-result {
  padding: 1rem;
  margin-top: 1rem;
  min-height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border: 1px solid #ccc;
  border-radius: 10px;
}

.repo-info {
  width: 100%;

  & > h2, & > p {
    align-self: flex-start;
    text-align: left;
  }
}

.repo-info-bar {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.stat-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;

  & > svg {
    width: 1rem;
    height: 1rem;
  }
}